.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 500px;
  color: white;
  background-color: #62361b;
  border: solid 2px black;
  margin: 10px 0;
  padding: 10px 0;
}
